<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AC_Catalog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ListWizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AC_Catalog.Properties.Settings>
            <setting name="A1T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A1F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A2T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A2F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A3T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A3F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A4T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A4F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A5T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A5F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B1T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B1F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B2T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B2F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B3T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B3F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B4T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B4F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B5T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B5F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C1T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C1F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C2T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C2F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C3T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C3F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C4T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C4F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C5T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C5F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D1T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D1F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D2T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D2F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D3T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D3F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D4T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D4F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D5T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D5F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E1T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E1F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E2T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E2F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E3T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E3F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E4T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E4F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E5T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E5F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filterCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="connStr" serializeAs="String">
                <value>asdf</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\000ab\Desktop\Animal Crossing Catalog\Animal Crossing Catalog\ListWizard\bin\Release\catalog.mdf;Integrated Security=True;Connect Timeout=30</value>
            </setting>
        </AC_Catalog.Properties.Settings>
        <ListWizard.Properties.Settings>
            <setting name="A1T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A1F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A2T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A2F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A3T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A3F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A4T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A4F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A5T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A5F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B1T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B1F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B2T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B2F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B3T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B3F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B4T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B4F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B5T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B5F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C1T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C1F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C2T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C2F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C3T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C3F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C4T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C4F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C5T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C5F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D1T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D1F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D2T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D2F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D3T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D3F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D4T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D4F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D5T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D5F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E1T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E1F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E2T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E2F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E3T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E3F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E4T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E4F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E5T" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E5F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filterCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </ListWizard.Properties.Settings>
    </userSettings>
</configuration>